* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff; /* Добавили цвет текста по умолчанию */
}

body {
  font-family: 'Montserrat';
  background-color: #152c33;
  display: flex;
  flex-direction: column; /* Организуем содержимое в колонку */
}

.time {
  position: fixed;
  top: 65%;
  left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 1 0px;
    color: #FFF;
    border-radius: 1%;
    font-size: 280px;
}

.half {
  position: fixed;
  font-size: 100px;
  margin-top: 30%;
  margin-left: 41%;
}

.score1 {
  text-align: center;
  display: flex;
    position: fixed;
    top: 45%;      
    left: 13%;     
    padding: 10px;   
    z-index: 9999;  
    gap: 55em;  
}

.score2 {
  text-align: center;
  display: flex;
    position: fixed;
    top: 45%;      
    left: 73%;     
    padding: 10px;   
    z-index: 9999;  
    gap: 55em;  
}
  .escore1 {
    margin: 0; 
    font-size: 25em; 
  }

  .escore2 {
    margin: 0; 
    font-size: 25em; 
  }

  .logo {
    margin: 0;
    margin-left: 8%;
    position: fixed;
    display: flex;
    gap: 43em;
  }

  .logo img {
  width: 26%;  
  height: 26%; 
}

.banner {
  text-align: center;
}

.banner img {
  width: 7%;  
  height: 7%; 
  margin-top: 1%;
}

.teamName {
  position: fixed;
  display: flex;
  text-align: center;
  margin-top: 24%;
  margin-left: 2%;
  gap: 24em;
}

.teamName h1 {
  font-size: 70px;
}

.pattern img{
  position: fixed;
  transform: rotate(-30deg);
  top: 20%;
  left: 40%;
}

.pattern-mirror img{
  position: fixed;
  transform: scaleX(-1) rotate(-30deg);
  top: 20%;
  left: -97.1%;
}

.btn1 {
 position: fixed;
 top: 99%;
 left: 19%;
}

.btn2 {
 position: fixed;
 top: 99%;
 left: 80%;
}

#incrementButton, #decrementButton{
  background: #152c33;
  opacity: 0.3;
}

#incrementButton2, #decrementButton2{
  background: #152c33;
  opacity: 0.3;
}

.timer-control{
  position: fixed;
  top: 99%;
  left: 47%;
}

#start, #stop, #reset, #set-45min{
  background: #152c33;
  opacity: 0.3;
} 